sentence-transformers==2.2.2
langchain==0.3.25
flask==3.1.0
flask-cors
pypdf==5.5.0
pymupdf
pdfplumber
requests
beautifulsoup4
pytesseract
Pillow
python-dotenv
pinecone[grpc]


pypdf==5.5.0
pymupdf
pdfplumber

requests
beautifulsoup4
lxml

langchain-pinecone
langchain-text-splitters
langchain-community
langchain-openai
langchain-experimental
openai==1.79.0

langchain_groq
tiktoken==0.9.0
groq

flask-jwt-extended       
flask-sqlalchemy         
werkzeug   

transformers
torch
huggingface-hub
sentencepiece
email-validator
gunicorn
